* {
	transition: all .2s ease-in-out;
	/*border: 1px solid red !important;*/
}

a {
	text-decoration: none !important;
}

a:focus, input:focus, button:focus {
	outline: none !important;
}

a:active, input:active, button:active {
	outline: none !important;
}

body {
	min-width: 320px;
}

.message-container {
	width: 100%;
	height: 56px;
	top: 0px;
	position: fixed;
	background-color: #ff7043;
	border-top: 4px solid #263238;
	z-index: 999;
}

.message-container p {
	color: rgba(255, 255, 255, .8);
	font-weight: 400;
	padding: 16px;
}

header {
	width: 100%;
	height: 56px;
	color: rgba(255,255,255, 1);
	background-color: #263238;
	padding: 0px;
	margin: 0px;
}

header ul {
	list-style-type: none;
	padding: 0px;
}

header ul li.links {
	display: inline-block;
}

header ul li.links a{
	text-decoration: none;
	color: rgba(255,255,255,.8);
}

header ul li img{
	cursor: pointer;
	width: 36px;
	border-radius: 100%;
	margin: 10px 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header ul li img.logo{
	width: 76px;
	border-radius: 0%;
	margin: -2px 0px 0px 0px;
	padding: 0px 4px;
	opacity: .9;
}

.links i {
	display: none;
}

.btn {
	margin-left: 4px;
	margin-right: 4px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: rgba(255,255,255,.1);
}

.btn-primary {
	color: rgba(255,255,255,.8) !important;
}

.links .btn:hover, .links .btn:active{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-primary.btn-raised:hover {
	background-color: #9e9d24; !important;
}

@media screen and (max-width: 768px) {
	.links .btn {
		border-radius: 100%;
		width: 36px;
		height: 36px;
		padding: 0px;
	}
	.links span {
		display: none;
	}
	.links i {
		display: block;
		padding: 6px;
	}
}

.cover {
	width: 100%;
	height: 280px;
	background: #ccc;
	padding: 0px;
	margin: 0px 0px 24px 0px;
}

.line {
	width: 100%;
	height: 4px;
	background-color: #263238;
	padding: 0px;
	margin: 0px 0px 52px 0px;
}

.form-group {
	margin: 8px !important;
	padding: 8px !important;
}

a.logo-form {
	display: block;
	margin: 16px auto 0 auto;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background-color: #263238;
}

a.logo-form img {
	width: 40px;
	margin: 16px 12px;
	opacity: .9;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.container-form .btn-primary{
	margin: 24px 0px 8px 0px !important;
}

a.text-primary {
	text-transform: uppercase;
	font-weight: 700;
}

a.text-primary:hover {
	color: #9e9d24; !important;
}

.form-group {
	margin: 0px !important;
	padding: 0px !important;
}

.form-group .form-control {
	margin: 0px !important;
}

.form-group .control-label {
	padding: 0px !important;
	margin: 0px !important;
}

/* CARD */
.link,
.avatar,
.info-block {
	cursor: pointer;
}

.panel.panel-default {
	border-radius: 2px;
	margin-top: 3em;
	overlay: hidden;
}

.panel-heading {
	padding: 0px !important;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #fff !important;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	z-index: 2;
}

.panel-heading .interactions {
	position: absolute;
	z-index: 2;
}

.panel-heading .avatar {
	left: calc(100% - 64px - 16px);
	bottom: calc(100% - 64px - 16px);
	width: 64px;
	border-radius: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.panel-heading .img {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	opacity: .4;
	width: 100%;
}

.panel-heading small {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 16px 16px 16px 32px;
	font-size: 16px;
	font-weight: 400;
}

.panel-heading small.author::before {
	content: '— ';
}

.panel-heading .info-block {
	position: absolute;
	text-align: center;
	top: calc(0% + 16px);
	left: calc(50% - 16px);
	width: 32px;
	height: 32px;
	border-radius: 100%;
	display: flex;
	justify-content: space-around;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.panel-heading .info-block.active {
	position: absolute;
	top: calc(-50%);
	left: calc(0%);
	width: 100%;
	height: 200%;
	border-radius: 0px;
	background-color: #263238;
}

.panel-heading .info-block .icon {
	display: block;
	width: 100%;
	height: 100%;
	padding: 4px;
	color: rgba(255, 255, 255, .4);
	transition: transform .0s ease;

}

.panel-heading .info-block.active .icon {
	display: none;
}

.panel-heading .info-block .text {
	display: block;
	display: none;
	color: #fff;
}

.panel-heading .info-block.active .text {
	width: 100%;
	display: block;
	margin: 25% auto;
	opacity: 1;
	padding: 32px 96px 32px 32px;
	font-size: 160%;
	animation-name: entrance;
	animation-timing-function: ease-out;
	animation-duration: .5s;
}

@keyframes entrance {
	0% {
		margin: 100% auto;
		opacity: 0;
	}
	75% {
		margin: 100% auto;
		opacity: 0;
	}
	100% {
		margin: 25% auto;
		opacity: 1;
	}
}

.panel-body {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	color: #fff;
	padding: 16px 32px;
	position: relative;
}

.panel-body h2 {
	font-weight: 300;
	font-style: italic;
}

.panel-body .quotations {
	position: absolute;
	top: calc(0% - 64px);
	left: calc(0% - 8px);
	font-size: 192px;
	opacity: .1;
	transform: rotate(180deg);
}

.info-bar {
	margin-top: -8px;
  padding: 0px;
	min-width: 280px;
}

.info-bar li {
	display: inline-block;
  margin: 0 2px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0 -1px 0 rgba(0, 0, 0, .25);
}

.info-bar li i.link, .info-bar li small {
	color: rgba(0,0,0,.4);
	padding: 4px;
	border-radius: 100%;
	vertical-align: middle;
}

.info-bar li i.link:hover {
	background-color: rgba(0,0,0,.1);
}

@media screen and (max-width: 479px) {

	.panel-heading .info-block.active .text {
	  font-size: 100%;
  }
	.panel-heading .avatar {
		left: calc(100% - 32px - 16px);
		bottom: calc(100% - 32px - 16px);
		width: 32px;
		border-radius: 100%;
  }
	.panel-heading small {
		font-size: 96%;
	}
	.panel-body h2 {
		font-size: 160%;
	}
}
